/* Dashboard.css */
.dashboard {
    background: linear-gradient(to right, #b71c1c, #880e4f);
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .heading {
    color: red;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 50px;
    margin-right: 10px;
  }
  
  .user-info .user-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .table-container {
    width: 80%;
    margin: 20px 0;
  }
  
  .dashboard-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #330000;
  }
  
  .dashboard-table th,
  .dashboard-table td {
    padding: 10px;
    border: 1px solid #444;
    text-align: center;
  }
  
  .dashboard-table th {
    background-color: #b71c1c;
    color: white;
  }
  
  .pagination {
    display: flex; 
   width: 80%;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
  
  .previous,
  .next {
    background-color: black;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 40%;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .page-info {
    font-size: 1.2em;
  }