body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('../../assets/fp_image.png');
    background-size: cover;

    
}

.containerfp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 80px;
    
}

.email-containerfp {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 550px;
    padding-top: 420px;
    left: 70px;
}

.email-containerfp input[type="email"] {
    background-color: #9a9494;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 10px;
    width: 100%;
    font-size: 1em;
}

.email-containerfp button {
    background-color: #000; 
    color: white; 
    padding: 12px 20px;
    border: none; 
    border-radius: 50px;
    cursor: pointer; 
    font-size: 16px; 
    font-weight: bold;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .email-containerfp button:hover {
    background-color: #8e4141;
    color: black; 
  }
  .email-containerfp button:active {
 
    background-color: #e03737;
  }  
  .button-containerfp button {
    width: 100px;
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    border-radius: 100px;
  }
  
  .button-containerfp button:hover {
    background-color: white;
    color: black;
  }